<div class="container">
    @if (loading) {
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    }
    
    @if (!loading && product) {
        <mat-card class="product-card">
            <img mat-card-image [src]="product.image" [alt]="product.title">
            <mat-card-content>
                <mat-card-title>{{product.title}}</mat-card-title>
                <h3>{{product.price | currency}}</h3>
                <p>{{product.description}}</p>
            </mat-card-content>
        </mat-card>
    }
</div>
