<div class="general-styles">
  <mat-toolbar color="primary">
    <span class="brand">Best Products</span>
    <span class="spacer"></span>
    <button mat-button routerLink="" [ngClass]="{ active: menuOption == 'home' }" (click)="onOption('home')">
      Home
    </button>
    <button mat-button routerLink="products" [ngClass]="{ active: menuOption == 'products' }" (click)="onOption('products')">
      Products
    </button>
    <button mat-button routerLink="contact" [ngClass]="{ active: menuOption == 'contact' }" (click)="onOption('contact')">
      Contact
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
